<!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
<li class="nav-header">Options</li>
<li class="nav-item">
    <a href="" class="nav-link" data-toggle="modal" data-target="#modal-lg">
        <i class="nav-icon far fa-circle text-success"></i>
        <p>Add New</p>
    </a>
</li>

<li class="nav-header">Sites</li>
{% for site in sites %}
<li class="nav-item">
    <a href="{{ path('site_dashboard', {'id': site.id}) }}" class="nav-link">
        <i class="nav-icon far fa-circle text-info"></i>
        <p>{{site.name}}</p>
    </a>
</li>
{% endfor %}