{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/settingsmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Contributors
{% endblock %}
{% block body %}
<div class="row">
            <div class="col-12 col-sm-6 col-md-2">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                </div>
                <div class="card-body pt-0 pb-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead"><b>Become a Contributor</b></h2>
                      <p class="text-muted text-sm"><b>Register: </b> stormdevelopers.com</p>
                      
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="https://stormdevelopers.com" target="_blank" class="btn btn-sm btn-primary">
                      <i class="fas fa-link"></i> Get In Touch
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                </div>
                <div class="card-body pt-0 pb-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead"><b>Alan Byrne</b></h2>
                      <p class="text-muted text-sm"><b>Position: </b> Project Leader</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="https://github.com/Gh0st4unt3r" target="_blank" class="btn btn-sm bg-teal">
                      <i class="fab fa-github"></i> Github
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                </div>
                <div class="card-body pt-0 pb-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead"><b>Jean-Marie Clement</b></h2>
                      <p class="text-muted text-sm"><b>Position: </b> Contributor</p>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="https://github.com/jeanmarieclement" target="_blank" class="btn btn-sm bg-teal">
                      <i class="fab fa-github"></i> Github
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
{% endblock %}
{% block pageJS %}
    <!-- Additional Javascript or Jquery  -->
{% endblock %}