{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/settingsmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Support
{% endblock %}
{% block body %}
    <div class="container-fluid">
                <div class="row clearfix">
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <div class="card card-blue">
                        <div class="card-header">
                            <div class="card-title">
                                Backlinks Manager Support
                            </div>
                        </div>
                        <div class="card-body p-0">
                           <table class="table table-sm table-hover text-nowrap">
                  <thead>
                    <tr>
                     <th>Title</th>
                      <th>Description</th>
                      <th>Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Documentation</td>
                      <td>Our Backlinks Manager Documentation to help you get started or help on how to use the system</td>
                      <td>
                        <a href="" target="_blank" class="btn btn-success btn-sm">View</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Support Forum</td>
                      <td>Our Software Support forum for the Backlinks Manager</td>
                      <td>
                        <a href="https://stormdevelopers.com/forums/forum/104-backlinks-manager/" target="_blank" class="btn btn-success btn-sm">View</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Github: Report Issues</td>
                      <td>If you spot any problems or issues we have a issue tracking via github</td>
                      <td>
                        <a href="https://github.com/StormDevelopers/BacklinksManager/issues" target="_blank" class="btn btn-success btn-sm">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card card-red">
                        <div class="card-header">
                            <div class="card-title">
                              Support Info
                            </div>
                        </div>
                        <div class="card-body">
                        <p>
                          We have a variety of ways you can get support and help with the Backlinks Manager, 
                          We have provided links to various areas you can get support to help you get the best out of the system.
                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
{% endblock %}
{% block pageJS %}
    <!-- Additional Javascript or Jquery  -->
{% endblock %}