{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/settingsmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    Support
{% endblock %}
{% block body %}
    <div class="container-fluid">
                <div class="row clearfix">
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                    <div class="card card-blue">
                        <div class="card-header">
                            <div class="card-title">
                                Backlinks Manager Support
                            </div>
                        </div>
                        <div class="card-body">
                            Support information coming soon
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="card card-red">
                        <div class="card-header">
                            <div class="card-title">
                              Support Info
                            </div>
                        </div>
                        <div class="card-body">
                        <p>
                          Coming Soon
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
{% endblock %}
{% block pageJS %}
    <!-- Additional Javascript or Jquery  -->
{% endblock %}