{% extends 'base.html.twig' %}
{% block AppMenu %}
    {{ include('menus/settingsmenu.html.twig') }}
{% endblock %}
{% block bodytitle %}
    System Tools
{% endblock %}
{% block tcright %}
   <!-- <a href="" class="btn btn-success waves-effect">Button</a> -->
{% endblock %}
{% block body %}

<div class="card">
              <div class="card-body p-0">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th style="width: 15%">System Tools</th>
                      <th>Description</th>
                      <th style="width: 15%">Action</th>
                      <th style="width: 10%">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>System Update</td>
                        <td>Updates the core system to the latest version to keep you upto date with the latest features</td>
                        <td>
                            <a href="{{ path('updates_index') }}" class="btn btn-xs btn-success" role="button">Upto Date</a>
                        </td>
                        <td>V1.5.0</td>
                    </tr>
                    <tr>
                        <td>Clear Cache</td>
                        <td>Sometimes you may need to clear system cache this tool will clear the cache for you</td>
                        <td>
                            <button id="cacheupdatebutton" class="btn btn-xs btn-primary">Clear Cache</button>
                        </td>
                        <td><div id="cacheupdate">....</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

            <div class="card">
              <div class="card-body p-0">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th style="width: 15%">Security Tools</th>
                      <th>Description</th>
                      <th style="width: 15%">Action</th>
                      <th style="width: 10%">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>System Update Lock</td>
                        <td>This is a lock to protect the system updates from unauthorised view</td>
                        <td>
                            <button id="updatelockbutton" class="btn btn-xs btn-success" role="button">Lock</button>
                            <button id="updateunlockbutton" class="btn btn-xs btn-danger" role="button">Unlock</button>
                        </td>
                        <td><div id="lockstatus">{{updatelock}}</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
{% endblock %}
{% block pageJS %}
    <script language = "javascript">  
      $(document).ready(function(){   
         $("#cacheupdatebutton").on("click", function(event){ 
            $('#cacheupdate').html('');  
            $('#cacheupdate').append('<i class="fas fa-spinner fa-pulse"></i> Please Wait..');
            $.ajax({  
               url:        '/updates/clearcache',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#cacheupdate').html('');  
                  $('#cacheupdate').append(data['cachecleared']);
                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });
         $("#updatelockbutton").on("click", function(event){ 
            $('#lockstatus').html('');  
            $('#lockstatus').append('<i class="fas fa-spinner fa-pulse"></i> Please Wait..');
            $.ajax({  
               url:        '/system/tools/updatelock',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#lockstatus').html('');  
                  $('#lockstatus').append(data['locked']);
                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         }); 
         $("#updateunlockbutton").on("click", function(event){ 
            $('#lockstatus').html('');  
            $('#lockstatus').append('<i class="fas fa-spinner fa-pulse"></i> Please Wait..');
            $.ajax({  
               url:        '/system/tools/updateunlock',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  

               success: function(data, status) {  
                  $('#lockstatus').html('');  
                  $('#lockstatus').append(data['unlocked']);
                  
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert('Ajax request failed.');  
               }  
               
            });  
         });   
      }); 
    </script> 
{% endblock %}